@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
:root {
  --color-body-bg: #d8dae2;
  --color-white: #fff;
  --color-light: #eff0f1;
  --color-dark: #12122e;
  --btn-sign: #4A55A2;

  --tansition: all 0.5s ease;
}
html {
  background: var(--color-body-bg);
  border-radius: 1rem;
  display: grid; 
  place-items: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  color: var(--color-dark);
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 4px solid var(--color-body-bg);
  border-radius: 1rem;
 

}
img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border: 1px solid var(--color-body-bg);
  border-radius: 0.8rem;
}
form {
  background: var(--color-white);
  margin-bottom: 1rem;

}
.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn {
  background: var(--btn-sign);
}
small {
  font-family: 'Fasthand', cursive;
  color: var(--btn-sign);
  font-size: 1.5rem;
}
.input__1 {
  border-radius: 10px 10px 0px 0px;
}
.input__2,
.input__3 {
  border-radius: 0;
}